################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FileHelper/.vs
/FileHelper/Debug
/FileHelper/obj
/SemiCutHelper/.vs
/SemiCutHelper/Debug
/SemiCutHelper/obj
